@mixin flexer($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.text-center {
    text-align: center;
}


.mt-sm {
    margin-top: 1rem;
}

.text-bold {
    font-weight: bold;
}

.text-muted {
    color: gray;
}

.bg-red {
    background-color: red;
}

.reg-form {
    margin-top: 3rem;
}

.formSumissionConfirm {
    @include flexer(column);
    margin-top: 5rem;
    i {
        font-size: 5rem;
        color: rgb(16, 211, 146);
    }
    .info {
        font-size: 1.5rem;
        text-align: center;
    }
    .info.bottom {
        color: rgb(78, 102, 102);
        font-size: 1.2rem;
    }
}

.floatingBtn {
    position: sticky;
    bottom: 2rem;
    right: 0px;
    .inner {
        position: absolute;
        right: 1.5rem;
        bottom: 10px;
    }
}

.contest-page {
    position: relative;
    .banner {
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}

.footer {
    background-color: rgb(231, 231, 231) !important;
    img.logo {
        width: 150px;
    }
}

@media screen and (max-width: 700px) {
    .formSumissionConfirm {
        .info {
            font-size: 1rem;
        }
    }
}

.events {
    @include flexer(column);
    background-color: rgb(216, 216, 255);
    padding: 5rem 2rem;
    i {
        font-size: 3rem;
    }
    .title {
        font-size: 3rem;
    }
}